<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>5</key>
		<string>毛坯</string>
	</dict>
	<dict>
		<key>4</key>
		<string>简装</string>
	</dict>
	<dict>
		<key>3</key>
		<string>精装</string>
	</dict>
	<dict>
		<key>2</key>
		<string>豪装</string>
	</dict>
	<dict>
		<key>1</key>
		<string>中装</string>
	</dict>
</array>
</plist>
