<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>14</key>
			<string>其他</string>
		</dict>
		<dict>
			<key>13</key>
			<string>多层</string>
		</dict>
		<dict>
			<key>12</key>
			<string>小高层</string>
		</dict>
		<dict>
			<key>11</key>
			<string>高层</string>
		</dict>
		<dict>
			<key>10</key>
			<string>复式</string>
		</dict>
		<dict>
			<key>9</key>
			<string>商住</string>
		</dict>
		<dict>
			<key>8</key>
			<string>酒店式公寓</string>
		</dict>
		<dict>
			<key>7</key>
			<string>叠加别墅</string>
		</dict>
		<dict>
			<key>6</key>
			<string>联排别墅</string>
		</dict>
		<dict>
			<key>5</key>
			<string>双拼别墅</string>
		</dict>
		<dict>
			<key>4</key>
			<string>独栋别墅</string>
		</dict>
		<dict>
			<key>3</key>
			<string>新式里弄</string>
		</dict>
		<dict>
			<key>2</key>
			<string>洋房</string>
		</dict>
		<dict>
			<key>1</key>
			<string>四合院</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>5</key>
			<string>住宅底商</string>
		</dict>
		<dict>
			<key>4</key>
			<string>商业街商铺</string>
		</dict>
		<dict>
			<key>3</key>
			<string>写字楼配套底商</string>
		</dict>
		<dict>
			<key>2</key>
			<string>购物中心/百货</string>
		</dict>
		<dict>
			<key>1</key>
			<string>其他</string>
		</dict>
	</array>
</array>
</plist>
