<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>出售</string>
				<key>begin</key>
				<string>0</string>
				<key>end</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>出租</string>
				<key>begin</key>
				<string>1</string>
				<key>end</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>用途</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>不限</string>
				<key>begin</key>
				<string>0</string>
				<key>end</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>20平米以下</string>
				<key>begin</key>
				<string>0</string>
				<key>end</key>
				<string>20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>20-50平米</string>
				<key>begin</key>
				<string>20</string>
				<key>end</key>
				<string>50</string>
			</dict>
			<dict>
				<key>name</key>
				<string>50-100平米</string>
				<key>begin</key>
				<string>50</string>
				<key>end</key>
				<string>100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>100-150平米</string>
				<key>begin</key>
				<string>100</string>
				<key>end</key>
				<string>150</string>
			</dict>
			<dict>
				<key>name</key>
				<string>150-200平米</string>
				<key>begin</key>
				<string>150</string>
				<key>end</key>
				<string>200</string>
			</dict>
			<dict>
				<key>name</key>
				<string>200-500平米</string>
				<key>begin</key>
				<string>200</string>
				<key>end</key>
				<string>500</string>
			</dict>
			<dict>
				<key>name</key>
				<string>500-1000平米</string>
				<key>begin</key>
				<string>500</string>
				<key>end</key>
				<string>1000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>1000平米以上</string>
				<key>begin</key>
				<string>1000</string>
				<key>end</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>面积</string>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>默认排序</string>
				<key>sort</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面积从大到小</string>
				<key>sort</key>
				<string>-3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>面积从小到大</string>
				<key>sort</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>价格从高到低</string>
				<key>sort</key>
				<string>-2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>价格从低到高</string>
				<key>sort</key>
				<string>2</string>
			</dict>
		</array>
		<key>name</key>
		<string>排序</string>
	</dict>
</array>
</plist>
